<div class='card'>
    <form #form="ngForm" (ngSubmit)="form.valid&&editAuthor()">
<div class='card-header'>
 Update Author Details
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody class="tbody">  
          <!-- <tr>
              <td> <label>Product Id</label></td>
              <td><input type="text" name="book_id" [(ngModel)]="productItem.productId"/></td>                  
            </tr>    -->
            <tr>
                <td class="td1"><label>Author Name</label></td>
                <td class="td1"><input type="text"  required #authorname="ngModel" name="authorname" [(ngModel)]="authorItem.authorname"/></td>                  
              </tr>  
              <tr>
                <td></td>
                  <td><label class="text-danger" *ngIf="form.submitted&&authorname.errors?.required">Author Name is required</label></td>
              </tr> 
              <tr>
                <td><label>About Author</label></td>
                <td><input type="text" required #aboutauthor="ngModel"  name="aboutauthor" [(ngModel)]="authorItem.aboutauthor"/></td>                  
              </tr>  
              <tr>
                <td></td>
                  <td><label class="text-danger" *ngIf="form.submitted&&aboutauthor.errors?.required">Book Author is required</label></td>
              </tr>  
              <tr>
                <div>
                 <td><label>Upload Author Image</label></td>
                 <td> <input (change)="onImageSelect($event)" name="image" type="file" [disabled]="true"></td>
                </div>
              </tr> 
              
              <tr>
                <td></td>
                <td class="submit"><input type="submit" value="Submit" id="submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

   


