<main class="container shadow px-5 rounded">
          <div class="mt-5 pt-lg-5 pt-md-4 pt-sm-3 pt-xs-3">
          </div>
    <!-- Carousel Start -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/dashboard1.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" class="img-fluid w-100" alt="...">
                
                <div class="container">
                    <div class="carousel-caption">
                        <div class="col-lg p-4 p-md-5 bg-light opacity-75 rounded mb-5 align-items-center justify-content-center text-center">
                            <h1 class="display-4 font-weight-bold"><span class="text-danger"> <b>
                              Welcome To MyBlogApp
                            </b> </span></h1>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <img src="/assets/images/dashboard2.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" class="d-block w-100" alt="...">
    
                <div class="container  rounded opacity-75" >
                <div class="carousel-caption text-end">
                  <div class="col-lg align-self-baseline">
                    <div class="text-white-75 mb-5">
                    <div class="p-4 p-md-5 mb-4 text-white rounded bg-light ">
                        <h1 class="fst-italic text-success">Free <b class="text-warning"> Blogging Site</b></h1>
                        <p class="lead my-3">where you can start your own blog for <b class="text-danger fs-4"> Free!!</b>.</p>
                      </div>
                      <p><a class="btn btn-lg btn-primary" routerLink="/posts">Browse Posts</a></p>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/dashboard7.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" class="d-block w-100" alt="...">     
                <div class="container  rounded opacity-75" >
                  <div class="carousel-caption text-end">
                    <div class="col-lg align-self-baseline">
                      <div class="text-white-75 mb-5">
                      
                        <p><a class="btn btn-lg btn-primary" routerLink="/posts">Browse Posts</a></p>
                      </div>
                  </div>
                  </div>
                  </div>
              </div>
      
</div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel End -->


<div class="row">
<div class="col-md">

<section class="container-fluid my-4">

<div class="row">
  <ng-container *ngFor="let category of categories; let i=index">
    <h3 class="card-title mt-2 p-4 mb-4 fst-italic border-bottom">{{category.categoryName}}</h3>
    <div class="cards" *ngFor="let post of posts;">
      <div class=" col-4 card" *ngIf="category.categoryName == post.postCategory">
        <div class="card-body">
            <img src="assets/images/files/{{post.postImagePath}}" class="card-img-top" alt="...">
          <h5 class="card-title mt-2">{{post.postTitle}}</h5>
          <p class="card-text"></p>
          <a (click)="singlePost(post)" class="btn-sm btn-primary">Read More</a>
          </div>
        </div>
    </div>
  </ng-container>
</div>
</section>

</div>


</div>

</main>
