		<!-- Footer-->
        <!-- <footer class="bg-dark py-4">
            <div class="container px-4 px-lg-5"><div class="small text-center"> <b>Copyright</b> &copy; <b>2022</b> <b> Book</b><b class="text-danger">N</b> <b>Pen</b></div></div>
        </footer> -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <h2 class="widget-title">Popular Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group" *ngFor="let post of posts.slice(0,3); index as i">
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="assets/images/files/{{post.postImagePath}}" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">{{post.postTitle}}</h5>
                                            <small>{{post.postDate | date: 'MMM dd, yyyy'}}</small>
                                            <a (click)="singlePost(post)" class="btn-sm">Read More</a>
                                        </div>
                                    </a>
          
                                   </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
          
          
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul  *ngFor="let category of categories; index as i">
                                    <li><a href="#">{{category.categoryName}}</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col --> 
                </div><!-- end row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright">&copy;Developed with love by <a href="https://tiyamartin.com">Tiya Martin</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
          </footer><!-- end footer -->